<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styles.css}">
</head>
<body>
<center><h1>404</h1></center>
<img th:src="@{/resources/images/page_not_found.jpg}" class="rounded mx-auto d-block" alt="Нет такой страницы =(">
<br>
<center><a href="/products">GO</a></center>
</body>
</html>