<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styles.css}">
</head>
<body>
    <div th:insert="fragments/menu :: menu"></div>
    <!--<span th:text="${title} ?: _">no user authenticated</span>-->
    <table class="table table-hover table-sm table-bordered">
        <caption>[[${title}]]</caption>
        <thead class="bg-info text-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th th:if="${can_edit}" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td>[[${product.id}]]</td>
            <td>[[${product.name}]]</td>
            <td>[[${product.description}]]</td>
            <td>[[${#numbers.formatDecimal(product.price, 1, 2, 'POINT')}]]</td>
            <td th:if="${can_edit}">
                <form method="get" action="/product/edit">
                    <input type="submit" value="Edit">
                    <input name="product_id" type="hidden" th:value="${product.id}">
                </form>
                <form method="post" action="/product/delete">
                    <input type="submit" value="Delete">
                    <input name="product_id" type="hidden" th:value="${product.id}">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>