<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styles.css}">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>

<table class="table table-hover table-sm table-bordered">
    <caption>[[${title}]]</caption>
    <thead class="bg-info text-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Login</th>
        <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td>[[${user.id}]]</td>
        <td>[[${user.name}]]</td>
        <td>[[${user.login}]]</td>
        <td>[[${user.userRole}]]</td>
    </tr>
    </tbody>
</table>
</body>
</html>