<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css">
</head>
<body>
<center><h1>404</h1></center>
<img src="https://ic.pics.livejournal.com/livinmay/15005683/5173/5173_300.jpg" class="rounded mx-auto d-block" alt="место для рекламы">
<br>
<center><a href="/products">GO</a></center>
</body>
</html>